@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to right, white, #827a87b6);
    }

    section#login {
        width: 80vw;
        display: flex;
        flex-direction: row;
    }
    
    section#login > div#imagem {
        flex: 1.5; /*flex: 1; ocupa 35% do espaço */
        background: #5f2c82 url(../imagens/pexels-camcasey-1722183.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;/* Faz a imagem ocupar toda a altura da section */
    }
    
    section#login > div#formulario {
        flex: 2;
        padding: 10px;
    }

    div#formulario > p {
        font-size: 1em;
    }

    form > input[type="submit"] {
        background-color: #a0b3b9;
        color: black;
        text-shadow: 0.5px 0px 0px #303638;
    }

    form > input[type="submit"]:hover {
        background-color: #dde4eb;
        color: black;
        text-shadow: 1px 0px 0px #69767a;
    }

    form > a.botão {
        color: black;
        text-shadow: 0.5px 0px 0px darkred;
    }
    
    form > a.botão:hover {
        background-color: #dde4eba0;
        color: black;
        text-shadow: 1px 0px 0px #375f6d;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, white 30%, lightblue, rgb(131, 163, 173) 95%);
    }

    section#login {
        width: 990px;
        display: flex;
        flex-direction: column;
    }

    section#login > div#imagem {
        flex: 1;
        background: #5f2c82 url(../imagens/pexels-pixabay-208745.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        height: 40%;
    }

    section#login > div#formulario {
        flex: 1;
        padding: 10px;
    }

    div#formulario > p {
        font-size: 1.2em;
    }

    form > input[type="submit"] {
        background-color: #4d8599;
        
        color: black;
        text-shadow: 0.5px 0px 0px #213a43;
    }

    form > input[type="submit"]:hover {
        background-color: #4d8599af;
        color: black;
        text-shadow: 1px 0px 0px #375f6d;
    }

    form > a.botão {
        color: black;
        text-shadow: 0.5px 0px 0px darkred;
    }
    
    form > a.botão:hover {
        background-color: #4d85994c;
        color: black;
        text-shadow: 1px 0px 0px #375f6d;
    }
}